@model IEnumerable<ForumDyskusyjne.Models.ForumCategory>

@{
    ViewBag.Title = "Index";
}



<h2>@Html.ActionLink("Forums", "../Forums/Index")</h2>

<h2>Categories</h2>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
               
                @Html.ActionLink("Forums in that Category", "Details", new { id = item.ForumCategoryId }) 
            </td>
        </tr>
    }

</table>
