@model IEnumerable<ForumDyskusyjne.Models.Annoucement>
@{
    ViewBag.Title = "Home Page";
}
<html>



<style>
    body {
        background-image: url("../Content/Images/Img.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>

<div style="        width: auto;
        background: rgb(255, 255, 255); /* Fallback for older browsers without RGBA-support */
        background: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        border: solid;
        border-width: 1px;
        padding: 10px;
     
">
   

    <body>
        <div class="bg">
            <div>
                Registered Users: @ViewBag.Registered
            </div>
            <table class="table">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Text)
                        </td>
                    </tr>
                }

            </table>




        </div>
    </body>
</html>
